.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  background-color: #015249;
  position: fixed;
  overflow: auto;
}

.sidebar div {
  padding-top: 20px;
}

.sidebar div img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 90px;
  height: 90px;
  -webkit-filter: drop-shadow(3px 3px 10px #101010);
  filter: drop-shadow(3px 3px 10px #101010);
  object-fit: cover;
}

.sidebar a {
  display: block;
  color: #dfdce3;
  padding: 18px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.4s;
}

.sidebar a svg {
  margin-right: 0.2em;
}

.sidebar a:hover {
  background-color: #578c90;
}

@media screen and (max-width: 768px) {
  .content {
    margin-left: 0px;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: right;
  }

  .sidebar div {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .sidebar a svg {
    display: none;
  }
}


